<body style="padding-top: 0;">
<div class="card " style="width: 1000px; margin-left: 40px; height: 600px" >
    <h3 class="card-header text-primary"><b> en rejoignant elabo, vous obtiendrez l'expérience de personnalisation complète</b></h3>
       
    <img style="height: 100%; width: 100%; display: block;" src="~/profileimage/laboratory-people-assistants-working-in-scientific-vector-15268445.jpg" alt="Card image">
@if (Request.IsAuthenticated)
{


}
else
{
    <div class="card-footer">
        <p class="card-text">
            <p class="text-lg-center font-weight-bold" style="margin-top: 10px;">Vous n'avez pas de compte? <a onclick="fnt()" class="text-info " id="test1" href="#"><b>inscrire vous</b></a></p></p>
    </div>
}
    
       
</div>

</body>



    
@*<script>
    $(function() {   
        $('.slide').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
        });
    });
</script>*@